Repository KNU-HAEDAL/ZZANSUNI_FE, pull requests merged in 2024-10, with the labels that each got.

#181 라우트 정리 #157
  src/constants/nav-bar/index.ts
  src/pages/challenge-detail/index.tsx
  src/pages/challenge-detail/ranking-section/index.tsx
  src/pages/challenge-detail/ranking-section/styles.ts
  src/pages/challenge-detail/review-section/index.tsx
  src/pages/challenge-detail/review-section/styles.ts
  src/pages/challenge-list/index.tsx
  src/pages/challenge-record/index.tsx
  src/pages/challenge-record/records/index.tsx
  src/pages/challenge-record/verification/index.tsx
  src/pages/my-challenge-record/index.tsx
  src/pages/my-challenge/components/challenge-list/index.tsx
  src/pages/my-challenge/index.tsx
  src/pages/review-write/index.tsx
  src/pages/review/index.tsx
  src/routes/index.tsx
  src/routes/path.ts
Labels: 😡 BugFix, ♻️ Refactoring

#184 챌린지 인증 수정 #182
  src/assets/StampActive.svg
  src/assets/StampInactive.svg
  src/components/common/cta/index.tsx
  src/components/common/empty-state/index.tsx
  src/components/common/form/textarea/tooltip/index.tsx
  src/pages/challenge-detail/ranking-section/index.tsx
  src/pages/challenge-detail/ranking-section/styles.ts
  src/pages/challenge-detail/review-section/index.tsx
  src/pages/challenge-record/index.tsx
  src/pages/challenge-record/records/index.tsx
  src/pages/challenge-record/verification/index.tsx
  src/pages/dashboard/components/challenge-record/index.tsx
  src/pages/my-challenge-record/components/list-item.tsx
  src/pages/my-challenge-record/index.tsx
  src/pages/my-challenge/components/challenge-list/index.tsx
  src/pages/my-challenge/index.tsx
Labels: 😡 BugFix, ♻️ Refactoring

#186 챌린지 상세 페이지 UI #185
  src/components/common/tabs/index.tsx
  src/pages/challenge-detail/components/challenge-item/index.tsx
  src/pages/challenge-detail/components/challenge-item/styles.ts
  src/pages/challenge-detail/description-section/styles.ts
  src/pages/challenge-detail/index.tsx
  src/pages/challenge-detail/ranking-section/index.tsx
  src/pages/challenge-detail/ranking-section/styles.ts
  src/pages/challenge-detail/review-section/index.tsx
  src/pages/challenge-detail/review-section/styles.ts
  src/pages/review/components/review-item/index.tsx
  src/pages/review/components/review-rating/index.tsx
  src/pages/review/index.tsx
Labels: 💄Design

#187 s3 배포 테스트
  .github/workflows/deploy.yml
Labels: 🚀 Deploy

#195 완료한 챌린지 api 호출 기능 수정
  README.md
  src/apis/challenge-completes/challenge-completes.api.ts
  src/apis/challenge-completes/challenge-completes.response.ts
  src/components/common/star-rating/index.tsx
  src/components/common/tooltip/index.tsx
  src/components/features/layout/nav-bar/index.tsx
  src/components/features/layout/top-bar/page-bar.tsx
  src/pages/challenge-record/records/index.tsx
  src/pages/my-challenge-record/components/list-item.tsx
  src/pages/my-challenge-record/index.tsx
  src/pages/rank/components/all/index.tsx
  src/pages/review-write/index.tsx
Labels: 😡 BugFix, 📬 API

#196 완료한 챌린지 api 호출 기능 수정
  src/apis/challenge-completes/challenge-completes.api.ts
  src/apis/challenge-completes/challenge-completes.response.ts
  src/components/common/cta/index.tsx
  src/components/common/empty-state/index.tsx
  src/interface/apis/challenge/index.ts
  src/pages/challenge-list/components/contents/index.tsx
  src/pages/challenge-record/components/caution/index.tsx
  src/pages/my-challenge-record/components/list-item.tsx
  src/pages/my-challenge-record/index.tsx
  src/pages/my-challenge/components/challenge-list/index.tsx
  src/pages/my-challenge/index.tsx
Labels: 😡 BugFix, 📬 API
